---
const { title } = Astro.props;
---

<li class="accordion__item">
  <h3 class="accordion__heading">
    <button
      id="accordion-button-1"
      class="accordion__button"
      aria-expanded="false"
      aria-controls="accordion-panel-1"
      onclick="toggleAccordionItem()"
    >
      {title}
      <svg
        class="button__toggle-indicator"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
      >
        <path
          fill="#5368df"
          d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"
        ></path>
      </svg>
    </button>
  </h3>
  <div
    id="accordion-panel-1"
    role="region"
    class="accordion__panel"
    aria-labelledby="accordion-button-1"
  >
    <div class="panel__inner">
      <slot />
    </div>
  </div>
</li>
